# Ignore tmp files
*/.ipynb_checkpoints/
*__pycache__
*/*/__pycache__
*_cache

# Ignore notebooks
*.ipynb

# Ignore manual testing files
results/
test_files/
test_script.py
test.py

# Ignore test files
.coverage
*/.coverage
htmlcov

# Ignore misc
statistical_test
old_implementation
analysis_scripts

# Ignore vscode files
.vscode/

# Ignore memory profiling
mprofile*

# Ignore mypy
.mypy_cache
mypy.ini
