# Ignore tmp files
*/.ipynb_checkpoints/
*/__pycache__
*/*/__pycache__

# Ignore notebooks
*.ipynb

# Ignore manual testing files
results/
test_files/
test_script.py
test.py

# Ignore test files
*/.coverage

# Ignore misc
statistical_test

# Ignore vscode files
.vscode/

# Ignore memory profiling
mprofile*
